.success.error{
    color:white;
    padding:5px;
    margin:5px 0 15px;
}

.success{
    background: green;
}
.error{
    background: red;
}
.backColor{
    background: cornflowerblue;
}
.btnColor{
    background: red;
}